doctype
html(lang='en', ng-app='App')

    head

    base(href='/')

    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edgen chrome=1')
    meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no, shrink-to-fit=no')
    meta(http-equiv='Content-Type', content='text/html', charset='utf8')
    meta(http-equiv='contet-language', content='en')
    meta(name='language', content='en')
    meta(name='author', content='ravirajendran.fr')
    meta(name='description', content='')

    meta(property='og:title', content='Ravichandrane Rajendran - Front end &amp; iOS Developer')
    meta(property='og:site_name', content='Ravichandrane Rajendran')
    meta(property='og:url', content='http://www.ravirajendran.fr')
    meta(property='og:language', content='en')
    meta(property='og:type', content='website')

    meta(property='twitter:title', content='Ravichandrane Rajendran - Front end &amp; iOS Developer')
    meta(property='twitter:creator', content='@RaviRajendran_')
    meta(property='twitter:site', content='@RaviRajendran_')
    meta(property='twitter:url', content='http://www.ravirajendran.fr')
    meta(property='twitter:domain', content='ravirajendran.fr')
    meta(property='twitter:card', content='summary')

    link(rel='stylesheet', href='css/style.min.css')

    title Ravichandrane Rajendran - Front end &amp; iOS Developer

    body

    div(ng-view)

    script(src='app.min.js')